:root {
  --dark-cyan: #065F6D;
  --lighter-cyan: #138496;
  --dark-gray: #2e3b42;
  --lighter-gray: #41535D;
  --lightest: #576f7c;
  --transparent: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--lighter-gray);
  font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, h5 {
  font-family: 'Coda';
}

section {
  background-color: #FFF;
  box-shadow: 5px 10px 30px -10px black;
  flex: auto;
  padding: 1em;
  padding-top: 1.5em;
}

aside.col-lg-3 {
  background-color: #FFF;
  box-shadow: 5px 10px 30px -10px black;
  height: 8em;
  margin-left: .5em;
  padding: 1em;
  position: sticky;
    top: 1em;
}

a {
  color: var(--cyan);
}
a:hover {
  color: var(--lighter-cyan);
}

.badge-danger {
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--transparent);
}
.badge-danger:hover {
  background-color: var(--red);
  color: #FFF;
}

.badge-info.outline{
  color: var(--cyan);
  border: 1px solid var(--cyan);
  background-color: var(--transparent);
}
.badge-info.outline:hover {
  background-color: var(--cyan);
  color: #FFF;
}

.card {
  border: none;
  border-radius: 0;
  border-top: 2px solid transparent;
  border-image: radial-gradient(var(--dark-cyan), var(--transparent));
  border-image-slice: 1;
}
.card:first-of-type {
  border-top: 0;
}

.card.comment {
  border-left: 1px solid var(--gray);
}

.dropdown-menu {
  background-color: var(--dark);
  border-color: var(--cyan);
}

.dropdown-menu a {
  color: var(--light);
}
.dropdown-menu a:hover{
  background-color: var(--cyan);
}

.fa-sort-up, .fa-sort-down {
  color: lightgrey;
  font-size: 2em;
}
.fa-sort-up.clicked {
  color: var(--green);
}
.fa-sort-down.clicked {
  color: var(--red);
}
.fas.disabled {
  color: lightgrey;
  pointer-events: none;
}

.form-control:focus {
  border-color: var(--gray);
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.25);
}

.input-group-append {
  border: 1px solid var(--lighter-cyan);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--cyan);
  color: white;
  margin-right: .5em;
  padding: .5em;
}

.justify-end {
  margin-left: auto;
}

.navbar-brand {
  font-family: 'Nova Flat';
  font-size: 2em;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1350px;
  }
}

@media screen and (max-width: 991px) {
  aside.col-12 {
    flex-direction: row;
    height: auto;
    order: -1;
    margin-left: 0;
    margin-bottom: 1.5em;
    position: static;
  }
}
